java/DfsServer/config/wsdl/com.emc.documentum.fs.services.collaboration/CommentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions name="CommentService"
    targetNamespace="http://collaboration.services.fs.documentum.emc.com/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://collaboration.services.fs.documentum.emc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://rt.fs.documentum.emc.com/" schemaLocation="CommentService_schema1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://properties.core.datamodel.fs.documentum.emc.com/" schemaLocation="CommentService_schema2.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://core.datamodel.fs.documentum.emc.com/" schemaLocation="CommentService_schema3.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://content.core.datamodel.fs.documentum.emc.com/" schemaLocation="CommentService_schema4.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://collaboration.services.fs.documentum.emc.com/" schemaLocation="CommentService_schema5.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://collaboration.datamodel.fs.documentum.emc.com/" schemaLocation="CommentService_schema6.xsd"/>
        </xsd:schema>
    </types>
    <message name="getComment">
        <part element="tns:getComment" name="parameters"/>
    </message>
    <message name="getCommentResponse">
        <part element="tns:getCommentResponse" name="parameters"/>
    </message>
    <message name="CollaborationServiceException">
        <part element="tns:CollaborationServiceException" name="fault"/>
    </message>
    <message name="ServiceException">
        <part element="ns1:ServiceException" name="fault" xmlns:ns1="http://rt.fs.documentum.emc.com/"/>
    </message>
    <message name="createComment">
        <part element="tns:createComment" name="parameters"/>
    </message>
    <message name="createCommentResponse">
        <part element="tns:createCommentResponse" name="parameters"/>
    </message>
    <message name="updateComment">
        <part element="tns:updateComment" name="parameters"/>
    </message>
    <message name="updateCommentResponse">
        <part element="tns:updateCommentResponse" name="parameters"/>
    </message>
    <message name="enumComments">
        <part element="tns:enumComments" name="parameters"/>
    </message>
    <message name="enumCommentsResponse">
        <part element="tns:enumCommentsResponse" name="parameters"/>
    </message>
    <message name="markRead">
        <part element="tns:markRead" name="parameters"/>
    </message>
    <message name="markReadResponse">
        <part element="tns:markReadResponse" name="parameters"/>
    </message>
    <message name="markUnread">
        <part element="tns:markUnread" name="parameters"/>
    </message>
    <message name="markUnreadResponse">
        <part element="tns:markUnreadResponse" name="parameters"/>
    </message>
    <portType name="CommentServicePort">
        <operation name="getComment">
            <documentation><![CDATA[ Retrieves a comment identified by the commentIdentity

 @param commentIdentity
 @return
 @throws CollaborationServiceException
]]></documentation>
            <input message="tns:getComment"/>
            <output message="tns:getCommentResponse"/>
            <fault message="tns:CollaborationServiceException" name="CollaborationServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="createComment">
            <documentation><![CDATA[ Creates and associates a comment with the object represented by parentIdentity.
 The creator permission is set to "delete" and "read" to all members that
 have "read/relate/write/delete" on the controlling sysobject

 @param parentIdentity
 @param commentData
 @return
 @throws CollaborationServiceException
]]></documentation>
            <input message="tns:createComment"/>
            <output message="tns:createCommentResponse"/>
            <fault message="tns:CollaborationServiceException" name="CollaborationServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="updateComment">
            <documentation><![CDATA[ Updates the comment's title and body attributes. If title is the passed commentData
 is null of empty, the the title is not updated.

 @param commentData
 @throws CollaborationServiceException
]]></documentation>
            <input message="tns:updateComment"/>
            <output message="tns:updateCommentResponse"/>
            <fault message="tns:CollaborationServiceException" name="CollaborationServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="enumComments">
            <documentation><![CDATA[ Returns a List of Comments associated with the object represented by parentIdentity

 @param parentIdentity @return
 @throws CollaborationServiceException
]]></documentation>
            <input message="tns:enumComments"/>
            <output message="tns:enumCommentsResponse"/>
            <fault message="tns:CollaborationServiceException" name="CollaborationServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="markRead">
            <documentation><![CDATA[ Marks all the comments associated with the object represented by parentIdentity as read.

 @param parentIdentity
 @throws CollaborationServiceException
]]></documentation>
            <input message="tns:markRead"/>
            <output message="tns:markReadResponse"/>
            <fault message="tns:CollaborationServiceException" name="CollaborationServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="markUnread">
            <documentation><![CDATA[ Marks all the comments associated with the object represented by parentIdentity as Unread.

 @param parentIdentity
 @throws CollaborationServiceException
]]></documentation>
            <input message="tns:markUnread"/>
            <output message="tns:markUnreadResponse"/>
            <fault message="tns:CollaborationServiceException" name="CollaborationServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
    </portType>
    <binding name="CommentServicePortBinding" type="tns:CommentServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getComment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CollaborationServiceException">
                <soap:fault name="CollaborationServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="createComment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CollaborationServiceException">
                <soap:fault name="CollaborationServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="updateComment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CollaborationServiceException">
                <soap:fault name="CollaborationServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="enumComments">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CollaborationServiceException">
                <soap:fault name="CollaborationServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="markRead">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CollaborationServiceException">
                <soap:fault name="CollaborationServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="markUnread">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CollaborationServiceException">
                <soap:fault name="CollaborationServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="CommentService">
        <documentation><![CDATA[CommentService provides functionality to create, update, retrieve comments asssociated with a data object.

 @since 6.5]]></documentation>
        <port binding="tns:CommentServicePortBinding" name="CommentServicePort">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>
