java/DfsServer/config/wsdl/org.example.ws_ht.api.wsdl/TaskManagementService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://www.example.org/WS-HT/api/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="tTime">
    <xs:sequence>
      <xs:element name="timePeriod" type="xs:duration" minOccurs="0"/>
      <xs:element name="pointOfTime" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

