java/DfsServer/config/wsdl/com.emc.documentum.fs.services.bpm/WorkflowService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions name="WorkflowService"
    targetNamespace="http://bpm.services.fs.documentum.emc.com/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://bpm.services.fs.documentum.emc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://rt.fs.documentum.emc.com/" schemaLocation="WorkflowService_schema1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://properties.core.datamodel.fs.documentum.emc.com/" schemaLocation="WorkflowService_schema2.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://core.datamodel.fs.documentum.emc.com/" schemaLocation="WorkflowService_schema3.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://content.core.datamodel.fs.documentum.emc.com/" schemaLocation="WorkflowService_schema4.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://bpm.services.fs.documentum.emc.com/" schemaLocation="WorkflowService_schema5.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://bpm.core.datamodel.fs.documentum.emc.com/" schemaLocation="WorkflowService_schema6.xsd"/>
        </xsd:schema>
    </types>
    <message name="getProcessTemplates">
        <part element="tns:getProcessTemplates" name="parameters"/>
    </message>
    <message name="getProcessTemplatesResponse">
        <part element="tns:getProcessTemplatesResponse" name="parameters"/>
    </message>
    <message name="SerializableException">
        <part element="ns1:SerializableException" name="fault" xmlns:ns1="http://rt.fs.documentum.emc.com/"/>
    </message>
    <message name="getProcessInfo">
        <part element="tns:getProcessInfo" name="parameters"/>
    </message>
    <message name="getProcessInfoResponse">
        <part element="tns:getProcessInfoResponse" name="parameters"/>
    </message>
    <message name="startProcess">
        <part element="tns:startProcess" name="parameters"/>
    </message>
    <message name="startProcessResponse">
        <part element="tns:startProcessResponse" name="parameters"/>
    </message>
    <portType name="WorkflowServicePort">
        <operation name="getProcessTemplates">
            <documentation><![CDATA[ Obtains a list of installed process templates in the repository. If the folderPath is passed, only
 the process templates within the folderPath are returned.

 @param repositoryName  Name of the repository.
 @param folderPath   Path to the folder where the process templates are installed.
 @param additionalAttrs  A comma-separated list of attribute names.
 @return      A {@link DataPackage} to the installed templates. 
        By default, r_object_id and object_name are returned.
 @throws BpmServiceException
]]></documentation>
            <input message="tns:getProcessTemplates"/>
            <output message="tns:getProcessTemplatesResponse"/>
            <fault message="tns:SerializableException" name="SerializableException"/>
        </operation>
        <operation name="getProcessInfo">
            <documentation><![CDATA[ Obtains a {@link ProcessInfo} object for a specific process template in the repository.<P>

 @param process    A {@link com.emc.documentum.fs.datamodel.core.ObjectIdentity} 
        to the process template. An ObjectId is expected from this identity.
 @return      A {@link ProcessInfo} object for setting the start process parameters.
 @throws BpmServiceException if the server returns an error
]]></documentation>
            <input message="tns:getProcessInfo"/>
            <output message="tns:getProcessInfoResponse"/>
            <fault message="tns:SerializableException" name="SerializableException"/>
        </operation>
        <operation name="startProcess">
            <documentation><![CDATA[ Creates and executes a process. <P>

 A process instance is a runtime instance of a dm_process object. Process
 objects store workflow definitions in the Documentum server.<P>

 To start a process, the process template must be in the installed state
 and the user must have the Relate and Execute permissions on
 the process template.<P>

 This call must occur after a call to {@link #getProcessInfo} which
 provides the process template on which the process is based.

 @param info     A {@link ProcessInfo} object that must be initialized 
        with start process parameters.
 @return      An {@link ObjectIdentity} of the process instance.
 @throws BpmServiceException if the server returns an error.
]]></documentation>
            <input message="tns:startProcess"/>
            <output message="tns:startProcessResponse"/>
            <fault message="tns:SerializableException" name="SerializableException"/>
        </operation>
    </portType>
    <binding name="WorkflowServicePortBinding" type="tns:WorkflowServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getProcessTemplates">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SerializableException">
                <soap:fault name="SerializableException" use="literal"/>
            </fault>
        </operation>
        <operation name="getProcessInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SerializableException">
                <soap:fault name="SerializableException" use="literal"/>
            </fault>
        </operation>
        <operation name="startProcess">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SerializableException">
                <soap:fault name="SerializableException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="WorkflowService">
        <documentation><![CDATA[IWorkflowService provides functionality to query available process templates and start process.]]></documentation>
        <port binding="tns:WorkflowServicePortBinding" name="WorkflowServicePort">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>
